<h2>Hello {{ email }}</h2>

<p>A password reset request has been made to your account.</p>

<p>To proceed click on the link <a href="{{ link }}">{{ link }}</a>.</p>

<p>If it wasn't you ignore this message.</p>
