.button {
    align-items: center;
    background-color: rgb(113, 89, 193);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    margin: 12px 0;
    text-decoration: none;
    transition: background-color .2s linear;
    width: 100%;
}

    .button:hover {
        background-color: rgb(124, 98, 212);
    }

.button--link {
    background-color: transparent;
    color: rgb(113, 89, 193);
    transition: color .2s linear;
}

    .button--link:hover {
        background-color: transparent;
        color: rgb(124, 98, 212);
    }

