{{define "New"}}
{{template "_Head"}}
  <body>
    {{template "_Navbar"}}

    <main class="container">
      <form method="POST" action="insert">
        <div class="form-group">
          <label for="name">Nome</label>
          <input class="form-control" id="name" name="name" />
        </div>

        <div class="form-group">
          <label for="description">Descrição</label>
          <input class="form-control" id="description" name="description" />
        </div>

        <div class="form-group">
          <label for="price">Preço</label>
          <input class="form-control" id="price" name="price" type="number" />
        </div>

        <div class="form-group">
          <label for="quantity">Quantidade</label>
          <input
            class="form-control"
            id="quantity"
            name="quantity"
            type="number"
          />
        </div>

        <button class="btn btn-success" type="submit">Salvar</button>
      </form>
    </main>
  </body>
{{template "_Footer"}}
{{end}}
