# Android
build
captures
.externalNativeBuild
.gradle
.idea/workspace.xml
.idea/libraries
.DS_Store
local.properties
*.iml

# Editores
.vscode
.idea

# .NET Core
bin
obj

# NodeJs
node_modules

# Python
venv
