* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: whitesmoke;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
