<h1>Editing Cryptocurrency Price</h1>

<%= render 'form', cryptocurrency_price: @cryptocurrency_price %>

<%= link_to 'Show', @cryptocurrency_price %> |
<%= link_to 'Back', cryptocurrency_prices_path %>
