@import url(./_variables.css);

* {
  font-family: var(--montserrat);
  font-size: 1rem;
  color: var(--gray);
}

body {
  background: url(../img/fundo-textura.png), url(../img/fundo-linhas.png);
  background-position: center;
}

.container {
  padding: 0 1rem;
}

.title {
  font-size: 1.375rem;
}

.title--highlighted {
  color: var(--black);
  display: block;
  font-family: var(--elsie);
  font-size: 2rem;
  font-weight: 900;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.align-center {
  text-align: center;
}
