{% extends 'layout.html' %}

{% load static %}

{% block content %}
        <div class="receipe-post-search mb-80">
            <div class="container">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-5">
                            <select name="select1" id="select1">
                                <option value="1">Comida típica brasileira</option>
                                <option value="1">Massas</option>
                                <option value="1">Veganas</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-2 text-right">
                            <button type="submit" class="btn delicious-btn">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                        <img src="{% static 'img/bg-img/tomate_banner.jpg' %}">
                    </div>
                </div>
            </div>
        </div>

        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span>30 de Fevereiro, 2000</span>
                            <h2>{{ recipe.name }}</h2>
                            <div class="receipe-duration">
                                <h6>Preparo: {{ recipe.time }}</h6>
                                <h6>Rendimento: {{ recipe.production }}</h6>
                                <h6>Categoria: {{ recipe.category }}</h6>
                                <h6>Por: Pessoa</h6>
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="single-preparation-step d-flex">
                          <p>{{ recipe.method }}</p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingredientees</h4>
                            <div class="ingredients">
                              <p>{{ recipe.ingredients }}</p>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
