<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticker Symbol</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |c| %>
    <tr>
      <td><%= c.name %></td>
      <td><%= c.ticker_symbol %></td>
    </tr>
    <% end %>
  </tbody>
</table>
