* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #fafafa;
  color: #333;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
}

.navbar {
  background-color: #5f788a;
  padding: 16px;
}

.navbar__title {
  font-size: 1.4rem;
  color: #fff;
}

.navbar__title a {
  text-decoration: none;
  color: inherit;
}

.navbar__nav__item {
  text-decoration: none;
  margin: 8px 0px;
  display: block;
  color: #cbd5db;
}

.navbar__nav__item:last-child {
  margin: 0;
  margin-top: 8px;
}

.navbar__nav__item a {
  text-decoration: inherit;
  color: inherit;
}

.post {
  justify-content: space-around;
  border: 1px solid lightgray;
  background-color: #fff;
  flex-direction: column;
  min-height: 170px;
  margin: 5px 0;
  display: flex;
  padding: 8px;
}

.post__title {
  font-weight: bold;
  font-size: 40px;
  color: #333;
}

.post__title a {
  text-decoration: none;
  color: inherit;
}

.post__description {
  border-bottom: 1px solid lightgray;
  font-size: 1.2rem;
  color: #428bca;
  order: -2;
}

.post__description span {
  font-size: 1rem;
  color: #b3b3b3;
}

.post__options {
  justify-content: flex-end;
  display: flex;
}

.post__options__btn {
  text-align: center;
  margin-right: 5px;
  margin-top: 10px;
  width: 75px;
}

a.post__options__btn {
  text-decoration: none;
}

.content {
  padding: 16px;
}

.content__aside {
  display: none;
}

.form {
  border: 1px solid lightgray;
  background-color: #fff;
  flex-direction: column;
  border-radius: 2px;
  padding: 8px 10px;
  display: flex;
}

.form__title {
  border-bottom: 1px solid lightgray;
  margin-bottom: 8px;
  font-size: 1.2rem;
}

.form__group {
  flex-direction: column;
  display: flex;
  margin: 8px 0;
}

.form__label {
  margin-bottom: 5px;
}

.form__input {
  border: 1px solid lightgray;
  border-radius: 2px;
  outline: none;
  padding: 8px;
  height: 35px;
  width: 100%;
}

.form__input:focus {
  box-shadow: 0px 0px 1px 2px #007bff66;
}

.form__error {
  color: indianred;
  margin-left: 1px;
  margin-top: 7px;
}

.form__check {
  align-items: center;
  display: flex;
}

.form__check label {
  display: block;
}

.form__check input {
  margin-right: 5px;
  display: block;
  order: -1;
}

.form__textarea {
  height: 120px;
  resize: none;
}

.btn {
  background-color: transparent;
  border: 1px solid #5f788a;
  border-radius: 2px;
  padding: 5px 12px;
  font-size: 1rem;
  color: #5f788a;
  display: block;
}

.snackbar {
  justify-content: center;
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
}

.snackbar__content {
  transition: transform .25s cubic-bezier(0, 0, .2, 1), opacity 0s .25s, height .25s;
  justify-content: space-between;
  transform: translateY(100%);
  background-color: #323232;
  display: flex;
  width: 100%;
  opacity: 0;
  height: 0;
}

.snackbar__item {
  align-items: center;
  flex-grow: 1;
  margin: 0 10px;
  display: flex;
  color: #fff;
}

.snackbar--visible {
  transition: transform .25s cubic-bezier(0, 0, .2, 1), opacity 0s 0s, height .25s;
  transform: translateY(0%);
  height: 50px;
  opacity: 1;
}

.snackbar__button {
  background-color: transparent;
  color: skyblue;
  margin: 0 10px;
  border: none;
}

.account {
  border: 1px solid lightgray;
  background-color: #fff;
  padding: 8px;
}

.account .form {
  margin-top: 10px;
  padding: 0px;
  border: none;
}

.account__header {
  align-items: center;
  display: flex;
}

.account__image {
  border-radius: 100%;
  height: 128px;
  width: 128px;
}

.account__username {
  font-size: 40px;
  margin: 10px;
}

@media (min-width: 768px) {
  .navbar {
    align-items: center;
    padding: 0 16px;
    display: flex;
    height: 60px;
  }

  .navbar__title {
    margin-right: 16px;
  }

  .navbar__nav {
    display: flex;
    flex-grow: 1;
  }

  .navbar__nav:last-child {
    justify-content: flex-end;
  }

  .navbar__nav__item {
    margin: 0 8px;
  }

  .navbar__nav__item:last-child {
    margin: 0 8px;
  }

  .content {
    grid-template-columns: 1fr 200px;
    display: grid;
  }

  .content__aside {
    display: block;
  }
}