@model CasaDoCodigo.Web.ViewModels.ShoppingCart.IndexShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<ul>
    @foreach (var item in Model.Products)
    {
        <li>
            <span>@item.Name</span>
            <span>@item.Price</span>
            <span>@item.Quantity</span>
        </li>
    }
</ul>
