@model ByteBank.Web.ViewModels.SignUpShowViewModel

@{
    ViewBag.Title = "Sign Up";
}

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel();

    <button type="submit">Sign Up</button>
}
