html,
body {
    -webkit-font-smoothing: antialiased;
    background-color: rgb(11, 10, 13);
    font-family: Roboto, sans-serif;
    height: 100%;
    margin: 0 auto;
    max-width: 480px;
    padding: 12px;
    text-rendering: optimizeLegibility;
    width: 100%;
}
