<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>House of code - @ViewData["Title"]</title>
</head>
<body>
    @RenderBody()

    @if (TempData["Message"] != null)
    {
        <span>@TempData["Message"]</span>
    }

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
