<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>House of code - @ViewData["Title"]</title>
</head>
<body>
    <nav>
        <ul>
            <li><a asp-controller="Catalog" asp-action="Index">Catalog</a></li>
            <li><a asp-controller="ShoppingCart" asp-action="Index">Shopping Cart</a></li>
        </ul>
    </nav>

    @RenderBody()

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
