[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"
beautifulsoup4 = "*"

[packages]
flask = "*"
flask-wtf = "*"
alembic = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
