<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wired Coffe | @ViewBag.Title</title>
    @Styles.Render("~/Content")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/Scripts")
</body>
</html>
