.main__container {
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 16px;
}

.main__dev-list {
  grid-template-columns: 1fr;
  margin-top: 50px;
  grid-gap: 5px;
  display: grid;
}

.main__dev-list-empty {
  margin-top: 50px;
  color: #d3d3d3;
  font-size: 2rem;
  font-weight: bold;
}

.main__dev-card {
  flex-direction: column;
  display: flex;
  width: 180px;
}

.main__dev-card img {
  border-radius: 4px 4px 0 0;
}

.main__dev-card footer {
  flex-grow: 1;
  border-radius: 0 0 4px 4px;
  background-color: white;
  padding: 5px 15px;
}

.main__dev-name {
  font-weight: bold;
  display: block;
  margin: 5px 0;
  color: #333;
}

.main__dev-bio {
  font-size: 12px;
  display: block;
  margin: 5px 0;
  color: #999;
}

.main__dev-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin-top: 10px;
}

.main__dev-buttons button {
  background-color: white;
  border-radius: 4px;
  border: none;
  padding: 6px;
  outline: none;
  cursor: pointer;
}

.main__dev-buttons img:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
}

@media (min-width: 375px) {
  .main__dev-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .main__dev-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}
