@model IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach(var item in Model)
{
    @Html.Partial("_Item", item)
}

@section footer {
    <p>@ViewBag.AccessedAt</p>
}
