<div class="row">
    <div class="col">
        <div *ngIf="mensagem" [ngClass]="alertClass">
            <span [ngSwitch]="mensagem.tipo">
                <strong *ngSwitchCase="'success'">Sucesso</strong>
                <strong *ngSwitchCase="'danger'">Erro</strong>
            </span>
            {{ mensagem.texto }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="contatos.length === 0">
                    <td colspan="4" align="center">Nenhum registro encontrado</td>
                </tr>
                <tr *ngFor="let c of contatos" [routerLink]="['/contato/save', c.id]">
                    <td>{{ c.nome }}</td>
                    <td>{{ c.email }}</td>
                    <td>{{ c.telefone }}</td>
                    <td><button class="btn btn-danger" (click)="onDelete(c); $event.stopPropagation()">Deletar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
