version: "3.9"

services:
  web:
    build: .
    ports:
      - 3000:3000
    volumes:
      - .:/usr/local/app
  redis:
    image: redis
  database:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: some-long-secure-password
      POSTGRES_DB: myapp_development
