.profile__input {
    background: rgb(25, 24, 31);
    border: 1px solid rgb(40,39,44);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    height: 48px;
    margin: 4px 0;
    outline: none;
    padding: 8px 12px;
}

    .profile__input:read-only {
        color: rgb(117,117,117);
    }
