[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
autopep8 = "*"
jedi = "*"
pylint = "*"

[packages]
ipython = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
