@{
    ViewData["Title"] = "Sign In";
}

<div class="row mt-5">
    <div class="col-12 col-md-6 offset-md-3">
        <h3>Sign In</h3>

        <a asp-controller="SignGoogle" asp-action="Show" class="btn btn-link">Google</a>
    </div>
</div>
