{% extends "layout.html" %}
{% block content %}
<form class="form" method="POST" novalidate>
    <span class="form__title">Log In</span>

    {{ form.hidden_tag() }}

    <fieldset class="form__group">
        {{ form.email.label(clas="form__label") }}
        {{ form.email(class="form__input") }}
        {% for error in form.email.errors %}
        <span class="form__error">{{ error }}</span>
        {% endfor %}
    </fieldset>

    <fieldset class="form__group">
        {{ form.password.label(class="form__label") }}
        {{ form.password(class="form__input") }}
        {% for error in form.password.errors %}
        <span class="form__error">{{ error }}</span>
        {% endfor %}
    </fieldset>

    <fieldset class="form__check">
        {{ form.remember.label }}
        {{ form.remember }}
    </fieldset>

    <div class="form__group form__group--inline">
        {{ form.submit(class="btn") }}
        <a class="form__group__link" href="{{ url_for('request_reset_password') }}">Forgot password</a>
    </div>
</form>
{% endblock %}