{% extends "layout.html" %}

{% block content %}
<form class="form" method="POST" novalidate>
    {{ form.hidden_tag() }}

    <fieldset class="form__group">
        {{ form.password.label(class="form__label") }}
        {{ form.password(class="form__input") }}
        {% for error in form.password.errors %}
        <span class="form__error">{{ error }}</span>
        {% endfor %}
    </fieldset>

    <fieldset class="form__group">
        {{ form.confirm_password.label(class="form__label") }}
        {{ form.confirm_password(class="form__input") }}
        {% for error in form.confirm_password.errors %}
        <span class="form__error">{{ error }}</span>
        {% endfor %}
    </fieldset>

    <fieldset class="form__group">
        {{ form.submit(class="btn") }}
    </fieldset>
</form>
{% endblock %}