@model TwoFactorAuthentication.Mvc.ViewModels.Profile.ProfileEditViewModel

@{
    ViewData["Title"] = "Profile";
}

<form asp-controller="Profile" asp-action="Edit" method="post" class="form">
    <div asp-validation-summary="All" class="form__summary-error"></div>

    <div data-qrcode data-key="@Model.Key" class="profile__qrcode"></div>

    <div class="form__group">
        <label asp-for="UserName" class="form__label"></label>
        <input asp-for="UserName" class="form__input" readonly />
        <span asp-validation-for="UserName" class="form__input-error"></span>
    </div>

    <div class="form__group">
        <label asp-for="Email" class="form__label"></label>
        <input asp-for="Email" class="form__input" />
        <span asp-validation-for="Email" class="form__input-error"></span>
    </div>

    <div class="form__group">
        <label asp-for="PhoneNumber" class="form__label"></label>
        <input asp-for="PhoneNumber" class="form__input" />
        <span asp-validation-for="PhoneNumber" class="form__input-error"></span>
    </div>

    <button type="submit" class="button">Edit</button>

    <a asp-controller="EnableTwoFactorAuthenticator" asp-action="Store" class="button button--link">Enable 2FA</a>
</form>

@section Scripts {
    <script src="~/js/qrcode.js"></script>
}

