@model CasaDoCodigo.Web.ViewModels.CatalogViewModel

<h1>Catalog</h1>

<ul>
    @foreach (var item in Model.Products)
    {
        <li>
            <span>@item.Name</span>
            <span>@item.Price</span>
            <a>Comprar</a>
        </li>
    }
</ul>
