@model CasaDoCodigo.Web.ViewModels.Catalog.IndexCatalogViewModel

@{
    ViewData["Title"] = "Catalog";
}

<ul>
    @foreach (var item in Model.Products)
    {
        <li>
            <span>@item.Name</span>
            <span>@item.Price</span>
            <a asp-controller="ShoppingCart" asp-action="Store" asp-route-id="@item.Id">Buy</a>
        </li>
    }
</ul>
