@model ByteBank.Web.ViewModels.SignInViewModel

@{
    ViewBag.Title = "Sign In";
}

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()

    @Html.EditorForModel()

    <button type="submit">Sign In</button>

    @Html.ActionLink("Forgot your password?", "Index", "ForgotPassword")
}
